#id_state {
    list-style: none;
    display: flex;
}

/* #id_state li{
    margin-right: 30px;
} */

.datepicker-days th.dow:first-child,
.datepicker-days td:first-child {
        color: #f00;
}

.datepicker-days th.dow:last-child,
.datepicker-days td:last-child {
    color: #00f;
}