{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'todo/base/base.css' %}">
    <title>Simple ToDo</title>
</head>
<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a href="{% url 'todo:index' %}" class="navbar-brand">Simple Todo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'todo:index' %}">Home<span class="sr-only">(current)</span></a>
                    </li>
                    
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'todo:tasks' %}">MyPage</a>
                    </li>
                </ul>

                {% if user.is_authenticated %}
                    <span class="navbar-text">Welcome, {{user.get_username}}!</span>  
                    <ul class="navbar-nav">       
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'todo:signout' %}">SignOut<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'todo:signin' %}">SignIn<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'todo:signup' %}">SignUp<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                {% endif %}
                
            </div>
        </nav>
    </header>
    {% block main %}
    {% endblock %}
    <footer class="fixed-bottom">
        <nav class="navbar navbar-dark bg-dark justify-content-end">
            <span class="navbar-text">© Howakuro 2020</span>
        </nav>
    </footer>
</body>
</html>