{% extends "todo/base.html" %}
{% load static %}
{% block main %}
    <main>
        <div class="container">
            <h1 class="m-3"><b>ToDo List</b></h3>
            <table class="table table-hover" style="table-layout:fixed;">
                <thead class="thead-light ">
                    <tr><th>Task</th><th>State</th><th>Limit</th><th></th></tr>
                </thead>
                {% for todo in latest_todo_list %}
                    {% if todo.deadline_approaching and not todo.state_is_done %}
                        <tr class="table-warning">
                    {% elif todo.deadline_exceeded and not todo.state_is_done %}
                        <tr class="table-danger">
                    {% elif todo.state_is_done%}
                        <tr class="table-success">
                    {% else %}
                        <tr>
                    {% endif %}
                            <td>{{ todo.task }}</td>
                            <td>{{ todo.state }}</td>
                            <td>{{ todo.deadline }}</td>
                            <td>
                                <div class="float-right">
                                    {% if not todo.state_is_done %}
                                    <form class="d-inline" method="post" action="{% url 'todo:done' todo.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success rounded-circle mx-2">
                                            <span class="material-icons">done</span>
                                        </button>
                                    </form>
                                    {% endif %}
                                    <form class="d-inline" method="get" action="{% url 'todo:edit' todo.id%}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-info rounded-circle mx-2">
                                            <span class="material-icons">edit</span>
                                        </button>
                                    </form>
                                    <div class="d-inline">
                                        <button type="submit" class="btn btn-danger rounded-circle mx-2" data-toggle="modal" data-target="#modal{{ todo.id }}">
                                            <span class="material-icons">delete_forever</span>
                                        </button>
                                        <div class="modal fade" id="modal{{ todo.id }}" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="label1">Delete Task</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    タスクを削除してよろしいですか？
                                                </div>
                                                <div class="modal-footer">
                                                    <form class="d-inline" method="post" action="{% url "todo:delete" todo.id %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-secondary">OK</button>
                                                    </form>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
            </table>
            {% if latest_todo_list%}
                <div class="float-right">
                    <button type="button" class="btn btn-danger rounded-circle pull-right" onclick="location.href='{% url "todo:create" %}'">
                        <span class="material-icons">add</span>
                    </button>
                </div>
            {% else %}
                <div class="float-left">
                    <button type="button" class="btn btn-danger rounded-circle pull-right" onclick="location.href='{% url "todo:create" %}'">
                        <span class="material-icons">add</span>
                    </button>
                </div>
            {% endif %}
        </div>
    </main>
    <link rel="stylesheet" href="{% static 'todo/tasks/tasks.css' %}">
{% endblock %}