{% extends "todo/base.html" %}
{% load static %}

{% block main %}
    <main>
        <div class="container">
                {% if not form.instance.pk %}
                    <h1 class="m-3"><b>Append Task</b></h3>
                {% else %}
                    <h1 class="m-3"><b>Edit Task</b></h3>
                {% endif %}
                <form method="post" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    <div class="border border-secondary rounded p-5" style="">
                        <div class="state">
                            <label for="{{ form.state.id_for_label }}">State:</label>
                            {{ form.state.errors}}
                            {{ form.state }}
                        </div>
                        <div class="task py-3">
                            {{ form.state.errors}}
                            <label for="{{ form.task.id_for_label }}">Task:</label>
                            {{ form.task }}
                        </div>    
                        <div class="deadline py-3">
                            {{ form.deadline.errors}}
                            <label for="{{ form.deadline.id_for_label }}">Limit:</label>
                            {{ form.deadline }}
                        </div>
                        <div class="form-group" style="padding:20px 0">
                            {% if not form %}
                                <input type="submit" value="Append" class="btn btn-primary"/>
                            {% else %}
                                <input type="submit" value="Edit" class="btn btn-primary"/>
                            {% endif %}
                        </div>
                    </div>
                </form>
        </div>
    </main>
    <link rel="stylesheet" href="{% static 'todo/task_form/task_form.css' %}">
    <script src="{% static 'todo/task_form/task_form.js' %}"></script>
{% endblock %}