{% extends "todo/base.html" %}

{% block main %}
    <main>
        <div class="container mt-5">
                {% if not form.instance.pk %}
                    <h3 class="m-3"><b>Append Task</b></h3>
                {% else %}
                    <h3 class="m-3"><b>Edit Task</b></h3>
                {% endif %}
                <form method="post" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group" style="padding:20px 0">
                        {% if not form %}
                            <input type="submit" value="Append" class="btn btn-primary"/>
                        {% else %}
                            <input type="submit" value="Edit" class="btn btn-primary"/>
                        {% endif %}
                    </div>
                </form>
        </div>
    </main>
{% endblock %}